.user-detail-header {
    min-height: 250px;
    display: flex;
    align-items: flex-end;

    img {
        width: 100px;
        height: 100px;
        object-fit: cover;
        border-radius: 100%;
        background-color: #ffffff;
    }

    mat-card-header {
        margin-left: 16px;
    }
}

.user-detail-address {
    position: relative;
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}