<mat-card class="user-detail-header">
    <button class="pin-right-upper-corner" mat-icon-button [matMenuTriggerFor]="userMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
        <button mat-menu-item (click)="editUserDetail()">Edit</button>
        <button mat-menu-item (click)="deleteUser()">Delete</button>
    </mat-menu>
    <img src="./assets/img/profile_pictures/0.png">
    <mat-card-header>
        <mat-card-title>
            <h1>{{user.firstName}} {{user.lastName}}</h1>
        </mat-card-title>
        <mat-card-subtitle>
            <h2>{{user.email}}</h2>
        </mat-card-subtitle>
    </mat-card-header>
</mat-card>

<mat-card class="user-detail-address mt-32">
    <button class="pin-right-upper-corner" mat-icon-button [matMenuTriggerFor]="addressMenu">
        <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #addressMenu="matMenu">
        <button mat-menu-item (click)="editAddressMenu()">Edit</button>
    </mat-menu>
    <mat-card-title>
        <h1>Address</h1>
    </mat-card-title>
    <mat-card-content>
        {{user.street}}<br>
        {{user.zipCode}} {{user.city}}
    </mat-card-content>
</mat-card>